<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Restaurants</title>
    {% endif %}
    {% block head %} {% endblock %}
  </head>
  <body style="background-color:#0a1118">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand fs-2" href="{{url_for('showRestaurant')}}">Restaurants</a>
            <button class="navbar-toggler" type='button' data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                {% if login %}
                <div class="nav-item">
                    <p class="text-white fs-4">{{ user }}</p>
                </div>
                {% endif %}
                <div class="nav-item">
                    {% if login %}
                    <a class="nav-link text-white fs-5" href="{{ url_for('logout') }}">Logout</a>
                    {% else %}
                    <a class="nav-link text-white fs-5" href="{{ url_for('login') }}">Login</a>
                    {% endif %}
                </div>
                <form class="d-flex" method='POST' action="{{url_for('newRestaurant')}}">
                    <div class="mb-3 input-group mt-3">
                        <input required class="form-control me-2" name="restaurant_name" placeholder="Restaurant name">
                        <button class="btn btn-outline-success" type="submit">Create a new Restaurant</button>
                    </div>
                </form>
            </div>          
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="container bg-{{category}} rounded-1 mt-4">
        <p class="fs-5 text-center text-white pt-1 pb-1">{{message}}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class='container mt-4'>
        {% block content %} {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>