{% extends 'base.html' %} 

{% block content %}
    
    <div>
        <h1 class="display-2 text-white">Homepage</h1>
        <a role="button" class="btn btn-success btn-md text-white mt-2" href="{{url_for('newRestaurant')}}">Create a new restaurant!</a>
    </div>

    <div class="row mt-4">        
        {% if restaurants %}
        {% for restaurant in restaurants %}
        <div class="col-xl-6 mb-4">
              <div class="card">
                <a class="card-body" style="text-decoration: none" href="{{url_for('showMenu', restaurant_id=restaurant.restaurant_id)}}">
                      <h2 class="text-center">{{ restaurant.name }}</h2>

                </a>
                <div class="d-flex bg-light mb-0">
                  <a
                    class="btn btn-warning m-0 rounded-1 text-reset w-50"
                    href="{{url_for('editRestaurant', restaurant_id=restaurant.restaurant_id)}}"
                    role="button"
                    >Edit
                  </a>
                  <a
                    class="btn btn-danger m-0 rounded-1 text-white w-50"
                    href="{{url_for('deleteRestaurant', restaurant_id=restaurant.restaurant_id)}}"
                    role="button"
                    >Delete</a>
                </div>
              </div>
            </div>
        {% endfor %}
        {% endif %}  
    </div>
{% endblock %}